main.exe
main
build/

# JetBrains IDE
.idea/

# Clang cache (?)
src/.cache/

# Pre-compiled headers
*.gch

# python environment
env/
.gemini/antigravity-ide/brain/71a546a3-f21e-4ed3-8bfe-a8c458151ca2/walkthrough.md
